$dark-cyan: #0e8784;
$dark-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$grey: #83888f;
$aqua: #66d2cf;
$headers-font: "Fraunces", serif;
$body-font: "Barlow", sans-serif;
$big-text: 15rem;
$big-lh: 0.48;
$h1-fz: 7.2rem;
$h1-lh: 1.2;
$h2-fz: 4rem;
$h2-lh: 0.83;
$h3-fz: 3.2rem;
$h3-lh: 1.125;
$h4-lh: 1.3;
$h4-fz: 2.4rem;
$menu-fz: 1.2rem;
$menu-lh: 1.25;
$body-fz: 1.6rem;
$body-lh: 1.625;
