.footer {
  background-color: #2c343e;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo,
.site-icons {
  display: flex;
  align-items: center;
}
.footer-logo {
  gap: 10.29rem;
}
.site-icons {
  gap: 2.4rem;
}

.site-icons:hover {
  transition: 0.3s;
  color: $dark-cyan;
}
